<header>
<div class="row">
    <div class="logo">
        <a href="#">BLOGS</a>
    </div>
    <nav>
        <ul class="row">
            <li><a href="/blog/">Home</a></li>
            <li><a href="/blog/create">Add Blogs</a></li>
            <li><a href="/user/signup">Sign Up</a></li>
            <li><a href="/user/login">Log In</a></li>
        </ul>
    </nav>
</div>
</header>