<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Singleblog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("nav") %>
    <section class="singleblog">
        <div id="blog">
            <img src="" alt="" id="img">
            <h3 id="title"></h3>
            <span id="category"></span>
            <p id="content"></p>
            <button id="like"><span id="count">0</span></button>
            <form action="" method="" id="comment">
                <input type="text" placeholder="Add a comment">
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>